@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
  -webkit-hyphens: auto;
          hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(--blanco);
  color: var(--negro);
  -webkit-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-bar{
  width: 100vw;
  z-index: 100;
  height: 50px;
  color: black;
  background: var(--negro);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
  padding: 5%;
  position: fixed;
  top: 0;
}
.nav-bar h1{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.nav-bar ul{
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.nav-bar ul li{
  padding: 5px;
  font-size: 20px;
}

.container{
  padding: 25%;
  height: 100vh;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel {
  width: 80%;
  max-width: 120em;
  height: auto;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 3 - 3em);
  min-height: 10vh;
  height: 90%;
  
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  border: 1px solid black;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}


.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 0em 1em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}

.vacio1{
  width: 10px;
  height: 50px;
}

.vacio2{
  width: 10px;
  height: 50px;
}

.menu{
  width: 90%;
  height: 100vh;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.title-menu{
  margin: 10%;
}
.platos{
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(1, 2fr 2fr);
  justify-content: center;
  align-items: center;
}

.platos li{
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px){
  .nav-bar{
    width: 100vw;
    z-index: 100;
    height: 125px;
    color: black;
    background: var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 25px;
    position: fixed;
    top: 0;
  }
  .nav-bar h1{
    font-size: 30px;
    padding-bottom: 10px;
    user-select: none;
    
  }
  .nav-bar ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
  }
  
  .nav-bar ul li{
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  
}