:root {
  --darkblue: #0e0e56;
  --negro: #292929;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

*,*::after,*::before{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    60deg,
    var(--negro),
    var(--blanco)
  );
}

li{
  list-style: none;
}
.nav{
  width: 100vw;
  z-index: 100;
  height: 50px;
  color: black;
  
  background: var(--darkblue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
  padding: 5%;
  position: fixed;
  top: 0;
}


.nav-bar{
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.nav-bar li{
  padding: 5px;
  font-size: 20px;
  font-style: italic;
}

a{
  color: #c7c7c7;
  text-decoration: none;
}

nav .container-logo{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.container-logo img{
  width: 100%;
}

.carousel{
  margin: 15% auto;
  width: 75%;
  height: 75vh;
  position: relative;
  border-radius: 15%;
  overflow: hidden;
  
}

.carousel ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active]{
  opacity: 1;
  transition-delay: 0ms;
}

.carousel-button{
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button.prev{
  left: 2%;
}

.carousel-button.next{
  right: 2%;
}

svg{
  width: 70px;
  margin: 0%;
  padding: 0%;
  
}

.menu{
  width: 90%;
  height: 100vh;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 0%;
  margin-left: 0%;
  margin-top: 25%;
 
}

.title-menu{
  margin-top: 50%;
  padding: 0% auto;
  text-align: center;
}
.platos{
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(1, 2fr 2fr);
  justify-content: center;
  align-items: center;
}

.platos li{
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px){
  .carousel{
    margin: 50% auto;
    width: 75%;
    height: 75vh;
    position: relative;
    border-radius: 15%;
    overflow: hidden;
    
  }

  .nav{
    width: 100vw;
    z-index: 100;
    height: 125px;
    color: black;
    background: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px;
    position: fixed;
    top: 0;
  }
  
  .nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0;
  }
  
  .nav-bar li{
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .container-logo{
    position: fixed;
    top: 0%;
  }

  svg{
    width: 40px;
    margin: 0%;
    padding: 0%;
    
  }
  
}